@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #252B42;
  /* font-family: 'Montserrat'; */
  width: 1440px;
  height: 1132px;
  top: -590px;
  left: -720px;
  padding: 0px 59px 0px 59px;
  gap: 40px;
  display: grid;
  justify-items: center;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }